In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')
conn

In [3]:
sql = """
 CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

In [4]:
sql = """
      INSERT INTO student VALUES
      ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [5]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

In [6]:
# 실습 1
sql = """
 CREATE TABLE student1
 (
 name text,
 korean integer,
 math integer,
 english integer
 )
"""
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student1")
c.execute(sql)
c.close()

In [7]:
sql = """
      INSERT INTO student1 VALUES
      ('학생2', 90, 80, 70)
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [8]:
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)
print(c.fetchone())

('학생2', 90, 80, 70)

In [9]:
sql = """
 INSERT INTO student VALUES
 (?, ?, ?, ?)
"""

c = conn.cursor() # 객체 생성
c.execute(sql, ('학생2', 2, '안양', 'female'))
data = [
    ('학생3', 3, '경기도', 'female'),
    ('학생4', 4, '춘천', 'female'),
    ('학생5', 5, '대구', 'male'),
    ('학생6', 6, '원주', 'male'),
    ('학생7', 7, '강릉', 'female')
]

c.executemany(sql, data)
c.close()
conn.commit()

In [10]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

# 하나의 데이터 확인
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

In [11]:
for s in c.fetchmany(10):
    print(s)

('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 6, '원주', 'male')
('학생7', 7, '강릉', 'female')

In [12]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

for s in c.fetchall():
    print(s)

('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 6, '원주', 'male')
('학생7', 7, '강릉', 'female')