In [4]:
a = set([1,2,3,4,5,4])
a

{1, 2, 3, 4, 5}

In [5]:
from pandas import Series, DataFrame

In [7]:
score = Series([1000,2000,3000,4000,5000])
score

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [10]:
score = Series([1000,2000,3000], index = ['2020-10-01', '2020-10-02', '2020-10-03'])
score

2020-10-01    1000
2020-10-02    2000
2020-10-03    3000
dtype: int64

In [12]:
for idx in score.index:
    print(idx)

2020-10-01
2020-10-02
2020-10-03

In [13]:
for idx in score.values:
    print(idx)

1000
2000
3000

In [17]:
type(score.index)

pandas.core.indexes.base.Index

In [19]:
import pandas as pd
print("pandas 버전: ", pd.__version__)

pandas 버전:  1.0.1

### 실습 2-1 시리즈 만들어보기
 * 5일간 걸었던 걸음 횟수를 Series(시리즈) 자료형으로 만들어보기

In [21]:
mystep = Series([1000, 2000, 3000, 4000, 5000], index= ['2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08'])
mystep

2020-10-04    1000
2020-10-05    2000
2020-10-06    3000
2020-10-07    4000
2020-10-08    5000
dtype: int64

### 실습2-2
 * 2명의 5일간의 걸음수를 시리즈를 각각 만들어서, 더해보자.
 * 1명 2020/05/03 ~ 2020/05/07
 * 1명 2020/05/05 ~ 2020/05/09
 * toto, gildong (예)

In [25]:
toto = Series([1000, 2000, 3000, 4000, 5000], index= ['2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07'])
gildong = Series([1500, 2400, 3300, 4200, 5100], index= ['2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09'])
usersStep = toto + gildong
usersStep

2020-05-03       NaN
2020-05-04       NaN
2020-05-05    4500.0
2020-05-06    6400.0
2020-05-07    8300.0
2020-05-08       NaN
2020-05-09       NaN
dtype: float64

* python에서 NaN(Not a Number): 숫자가 아니다.

In [27]:
from pandas import DataFrame

dat = {'col1': [1,2,3,4],
      'col2': [10,20,30,40],
      'col3': ['A','B','C','D']}
df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

### 실습 2-3
 * 팀이 4개 팀이 있어요. 각각의 4일간의 팀별 점수를 넣어서 데이터 프레임을 만들기
 * 같은 날짜로 해 주기

In [33]:
score = {'team1': [90,80,70,90],
         'team2': [70,90,60,80],
         'team3': [80,70,60,90],
         'team4': [60,80,70,70]}
df = DataFrame(score, index= ['2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08'])
df

            team1  team2  team3  team4
2020-10-05     90     70     80     60
2020-10-06     80     90     70     80
2020-10-07     70     60     60     70
2020-10-08     90     80     90     70

In [37]:
score = {'team1': [90,80,70,90],
         'team2': [70,90,60,80],
         'team3': [80,70,60,90],
         'team4': [60,80,70,70]}
df = DataFrame(score, index= pd.date_range(start='10/5/2020', end='10/8/2020'))
df

            team1  team2  team3  team4
2020-10-05     90     70     80     60
2020-10-06     80     90     70     80
2020-10-07     70     60     60     70
2020-10-08     90     80     90     70

In [38]:
score = {'team1': [90,80,70,90],
         'team2': [70,90,60,80],
         'team3': [80,70,60,90],
         'team4': [60,80,70,70]}
df = DataFrame(score, index= pd.date_range('10/5/2020', periods=4))
df

            team1  team2  team3  team4
2020-10-05     90     70     80     60
2020-10-06     80     90     70     80
2020-10-07     70     60     60     70
2020-10-08     90     80     90     70